body {
    background-color: rgb(107, 107, 241);
    font: normal 15pt Arial;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 40px auto;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.363);
}

select#flista {
    width: 200px;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    font-style: italic;
}
